@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_rgregular";
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.proxima_nova_rgregular_line {
  font-family: "proxima_nova_rgregular";
  color: rgb(177, 186, 211);
  font-weight: 600;
  font-size: 14px;
}
.coin {
  left: 400px;
}
.container {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  margin-right: 80px;
}
.card-info {
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(47, 69, 83);
  border-bottom: 6px solid rgb(33, 55, 67);
  transition: 0.2s all;
}
.card-info:hover {
  transform: translateY(-3px);
  background-color: rgba(255, 255, 255, 0.525);
  cursor: pointer;
}
#img {
  max-width: 80%;
  min-width: 80%;
  transform: scale(0);
}

.componants {
  background-color: rgb(15, 33, 46);
  height: 670px;
  width: 1100px;
  padding: 20px;
}
.side-bar {
  height: 670px;
  margin-left: -20px;
  margin-top: -20px;
  background-color: rgb(33, 55, 67);
}
.input-area {
  background-color: rgb(15, 33, 46);
}
.drop-down {
  background-color: rgb(15, 33, 46);
}
.buttons-for-color {
  background-color: rgb(47, 69, 83);
}
.box-side {
  height: auto;
  width: auto;
  margin-left: -540px;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.525);
  cursor: pointer;
}
.bet-button {
  background-color: rgb(0, 231, 1);
  color: black;
}
.bet-button:hover {
  background-color: rgb(35, 255, 35);
}
.div-outer-for-border {
  border: 2px solid rgba(255, 255, 255, 0.183);
}
.btn-into:hover {
  background-color: rgba(255, 255, 255, 0.164);
}
img {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.input-area1 {
  background-color: rgb(15, 33, 46);
  border: 2px solid rgba(255, 255, 255, 0.183);
  width: 300px;
}
